.background {
		position: fixed;
		z-index: -3;
		margin-top: 0upx;
		height: 100vh;
		width: 100%;

		image {
			margin: 0;
			position: relative;
			top:-40upx;
			width: 100%;
			height: 110%;
			object-fit: cover;
			margin-bottom: -100upx;
		}
	}
	.top-text{
		position: relative;
		top:-40upx;
		height:300upx;
		width: 100%;
		#redflag{
			height: 80%;
			width: 100%;
		}
		.text{
			height: 50%;
			position: relative;
			// top:-150upx;
			top: -200upx;
			display: flex;
			justify-content: space-between;
			align-items: center;
							#topimg1{
								width: 60%;
								height: 90%;
							}
							#GJcpc{
								margin-top: 40upx;
								height: 30%;
								width: 70%;
							}
		}
	}
.block-search{
	position: absolute;
	top:200upx;
	width: 100%;
	height: auto;
	.search-item{
		display: table;
		margin:0 auto;
		// margin-left: 50upx;
	}
}
.listBlock{
	    margin: 50upx auto;
		min-height: 100vh;
		padding-top: 30upx;
		background: #eee;
		    .item {
		        padding: 10rpx 10rpx 20rpx;
		
		        .title {
		            line-height: 48rpx;
		            font-size: 28rpx;
		            color: #222;
		        }
		
		        .desc {
		            font-size: 24rpx;
		            color: #666;
		        }
		    }
}