	.background {
		position: absolute;
		z-index: -3;
		margin-top: 0upx;
		height: 100%;
		width: 100%;
		
		image {
			width: 100%;
			height: 180%;
			object-fit: cover;
			margin-bottom: -100upx;
		}
		#bgimg2{
			height: 20%;
			margin-top: -100upx;
		}
		.top-text {
			position: absolute;
			top:0;
			height:300upx;
			width: 100%;
			#redflag{
				height: 80%;
			}
			.text{
				height: 50%;
				position: relative;
				top:-150upx;
				display: flex;
				justify-content: space-between;
				align-items: center;
				#loveCPC{
					width: 60%;
					height: 90%;
				}
				#lovelearn{
					margin-top: 40upx;
					height: 30%;
					width: 70%;
				}
			}
		}
	}

	
	.content {
		// display: flex;
		// flex-direction: column;
		// text-align: center;
		display: table;
		margin:0 auto;
		// align-items: center;
		// justify-content: center;
		position: relative;
		width: auto;
		height: auto;
		top: 100upx;
		.search {
			// position: relative;
			// bottom: 10upx;
			z-index: 2;
		}
	}
	//条件编译，对H5平台修改CSS样式
	//#ifdef H5
	.content {
		// display: flex;
		// flex-direction: column;
		// text-align: center;
		display: table;
		margin:0 auto;
		// align-items: center;
		// justify-content: center;
		position: relative;
		width: auto;
		height: auto;
		top: 200upx;
		.search {
			// position: relative;
			// bottom: 10upx;
			z-index: 2;
		}
	}
	//#endif

	.wiper {
		margin-top: 40upx;
		padding: 0 25upx;
		position: relative;
		top:200upx;
		// height: 400upx;
	}

	.hot-spot {
		display: flex;
		// justify-content: space-between;
		text-align: center;
		position: relative;
		top:200upx;
		width: 95%;
		height: 750upx;
		background-color: #FFFFFF;
		margin: 40upx auto;
		border-radius: 20upx;
		flex-direction: column;

		.head {
			height: 10%;
			display: flex;
			align-items: center;
			margin-top: 10upx;

			.iconfont {
				color: #E2000B;
				font-size: 40upx;
				margin-left: 20upx;
			}

			.text1 {
				font-size: 32upx;
				font-weight: 600;
				margin-left: 10upx;
			}

			.text2 {
				font-size: 28upx;
				margin-left: 20upx;
				color: #670F13;
			}
		}

		.detail {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 90%;

			.detailItem {
				height: 35%;
				width: 100%;
				display: flex;

				.left {
					margin-left: 20upx;
					height: 100%;
					width: 45%;

					img {
						height: 75%;
						width: 100%;
					}
				}

				.right {
					margin-left: 20upx;
					display: flex;
					flex-direction: column;
					width: 55%;
					text-align: left;

					// align-items: center;
					.text1 {
						font-size: 30upx;
					}

					.rright {
						display: flex;
						text-align: right;

						.text2 {

							margin-right: 10upx;
							margin-top: 30upx;
							font-size: 20upx;
							color: #E50012;
						}

						.iconfont {
							color: #E50012;
							margin-top: 30upx;
						}
					}

				}
			}
		}

		.bottom {
			text-align: right;
			margin: 0 40upx 10upx 0;
			text {
				color: #E50012;
				font-weight: 600;
				font-size: 30upx;
				// text-decoration:underline;
			}
		}

		.body {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 90%;

			.bodyItem {
				height: 35%;
				width: 100%;
				display: flex;
				flex-direction: column;

				.text1 {
					text-align: left;
					margin-left: 20upx;
				}

				.under {
					margin-top: 10upx;
					text-align: right;
					margin-right: 30upx;

					.text2 {
						color: #E50012;
						font-size: 22upx;
					}

					.iconfont {
						color: #E50012;
					}
				}

				.bottomLine {
					width: 90%;
					height: 2upx;
					background: linear-gradient(244deg,rgba(255,255,255,0) 0%,rgba(229,0,18, 1) 50%,rgba(255,255,255,0) 100%);
					margin-top: 20upx;
				}
			}
		}
	}

	.learning-link {
		width: 95%;
		height: 350upx;
		background-color: #FFFFFF;
		margin: 40upx auto;
		border-radius: 20upx;
		opacity: 0.8;
		position: relative;
		top:200upx;

		.head {
			display: flex;
			text-align: center;
			width: 100%;
			height: auto;

			text {
				margin: 20upx auto;
				font-size: 32upx;
				font-weight: 600;
			}
		}

		.content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			width: 100%;
			height: 80%;
			position: relative;
			top:10upx;

			.linkItem {
				display: flex;
				flex-direction: column;
				text-align: center;
				width: 25%;
				height: 200upx;
				margin: 10upx 0 0 0;

				.img {
					// margin: 0 0 0 10upx;
					padding-left: 40upx;
					width: 70%;
					height: 60%;
					display: flex;
					align-items: center;
					text-align: center;

					image {
						width: 90%;
						height: 100%;
					}
				}

				;

				text {
					font-size: 20upx;
					margin-top: 20upx;
					font-weight: 600;
				}
			}
		}
	}